.zoom-in-container {
  position: relative;
}

.zoom-in-image {
  transition: transform 0.3s ease-in-out;
  cursor: zoom-in !important;
}

.zoom-in-container:hover .zoom-in-image {
  transform: scale(1.05);
  cursor: zoom-in !important;
}
