/* #root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
} */

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

.transition-height {
  transition: all 3s ease-in-out;
}

/* Nav Bar Active State */
.active {
  background-color: #fff5f5;
  color: #f783ac;
  font-weight: 600;
}

/* Buttons Effects  */
.zoom-in-container {
  position: relative;
}

.zoom-in-image {
  transition: transform 0.3s ease-in-out;
  cursor: zoom-in !important;
}

.zoom-in-container:hover .zoom-in-image {
  transform: scale(1.05);
  cursor: zoom-in !important;
}

/* ---------- Contact ---------- */
.contact-section {
  background-color: #e3fafc;
}
.contact-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-top: 160px;
  padding-left: 40px;
  padding-right: 40px;
  padding-bottom: 130px;
}

.contact-content {
  display: flex;
  justify-content: center;
  align-items: stretch;
  background-color: white;
  margin-top: 60px;
  padding: 50px;
  border-radius: 5px;
  box-shadow: 1px 2px 12px #f9f9f9;
}

.contact-img-container {
  width: 400px;
  background-image: url("/img/send-message-3.avif");
  background-repeat: none;
  background-position: center;
  background-size: cover;
}

.contact-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 600px;
  height: 100%;
  background-color: #fff0f6;
  font-family: Nunito Sans, Montserrat, Arial;
  font-size: 14px;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}

.contact-elements {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 16px;
  padding: 20px;
  width: 90%;
  height: 100%;
}

.contact-form label {
  color: #868e96;
  text-transform: uppercase;
  font-size: 14px;
  letter-spacing: 1.5px;
  font-weight: 700;
}

.contact-form input {
  font-size: 14px;
  padding: 10px;
  border: none;
  border-radius: 4px;
}

.contact-form input:focus {
  outline: 2px solid #f783ac;
}

.contact-form textarea {
  padding: 8px;
  border: none;
  border-radius: 4px;
  font-size: 14px;
  font-family: Nunito Sans, Montserrat, Arial;
}

.contact-form textarea:focus {
  outline: 2px solid #f783ac;
}

.name-elements {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 5%;
  width: 100%;
}

#first-name {
  width: 93%;
}

#last-name {
  width: 93%;
}

.contact-element-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 3px;
  width: 100%;
}

.contact-element-wrapper input {
  width: 97%;
}

#message {
  width: 97%;
}

.submit-btn-container {
  margin-top: 12px;
}

/* #contact-submit-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 12px;
  gap: 10px;
  padding: 10px 40px;
  cursor: pointer;
  background-color: #faa2c1;
  border-radius: 5px;
  color: white;
  font-weight: bolder;
  letter-spacing: 1px;
  text-transform: uppercase;
} */

/* #contact-submit-btn:hover {
  background-color: #f783ac;
  transform: scale(1.01);
} */

#send-icon {
  font-size: 16px;
}

@media screen and (max-width: 1120px) {
  .contact-content {
    flex-direction: column;
    padding: 30px;
  }
  .contact-container {
    padding: 0px;
    padding-top: 140px;
    padding-bottom: 80px;
  }
  .contact-elements {
    padding: 30px 0px;
  }
  .contact-img-container {
    height: 350px;
    width: 100%;
    background-image: url("/img/send-message-3.avif");
    background-repeat: no-repeat;
    background-position-y: -380px;
    background-position-x: center;
    background-size: cover;
  }
  .contact-img {
    display: none;
  }
  .submit-btn-container {
    margin-left: auto;
    margin-right: auto;
  }
}

@media screen and (max-width: 800px) {
  .contact-container {
    padding-top: 80px;
  }
  .contact-content {
    padding: 40px;
    width: 100%;
  }
  .contact-img-container {
    height: 300px;
    background-position-y: -500px;
  }
  .contact-form {
    padding: 40px 0px;
    width: 100%;
  }
  .contact-elements {
    padding: 0px;
  }
  /* #contact-submit-btn {
    padding: 12px 30px;
  } */
}

@media screen and (max-width: 700px) {
  .contact-container {
    margin-top: 0px;
  }
  .contact-content {
    padding: 30px;
  }
  .contact-img-container {
    background-position-y: -400px;
  }
  .name-elements {
    flex-direction: column;
    gap: 16px;
  }
  .contact-form {
    padding: 20px 10px;
  }
  #first-name {
    width: 100%;
  }
  #last-name {
    width: 100%;
  }
  .contact-form input {
    width: 100%;
  }
  #message {
    width: 100%;
  }
}

@media screen and (max-width: 600px) {
  .contact-img-container {
    background-position-y: -350px;
  }
  .contact-content {
    padding: 0px;
  }
  .contact-form {
    padding: 30px;
  }
  .contact-content form {
    padding: 30px 10px;
  }
}

@media screen and (max-width: 500px) {
  .contact-img-container {
    background-position-y: -270px;
  }
}

@media screen and (max-width: 450px) {
  .contact-img-container {
    background-position-y: -200px;
  }
}

@media screen and (max-width: 400px) {
  .contact-img-container {
    background-position-y: -150px;
  }
  .contact-form {
    padding-bottom: 120px;
  }
}
